{% extends "_base.html" %}

{% block head %}{% include "_head.html" %}{% endblock %}

{% block nav %}{% include "_nav.html" %}{% endblock %}

{% block content %}
<div class="portfolio-contact">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Contact</h2>
    </div>
    <div class="mdl-card__media">
      <img class="article-image" src="../../static/img/contact-header.png" border="0" alt="Contact Header Image">
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        If you would like to contact me I am easily reachable on all of the methods listed below. I have also listed some of the domains I own where I host various things such as this website.
      </p>
      <ul class="blanklist">
        <li><i class="fa fa-map-marker fa-fw fa-lg"></i> Washington, D.C. Metropolitan Area</li>
        <li><i class="fa fa-envelope-o fa-fw fa-lg"></i> <a class="contact-link" href="mailto:patrick@guelcher.co">patrick@guelcher.co</a></li>
        <li><i class="fa fa-twitter fa-fw fa-lg"></i> <a class="contact-link" href="https://twitter.com/aerovolts" target="_blank">@aerovolts</a></li>
        <li><i class="fa fa-linkedin fa-fw fa-lg"></i> <a class="contact-link" href="https://www.linkedin.com/in/patrickguelcher" target="_blank">LinkedIn</a></li>
        <li><i class="fa fa-github fa-fw fa-lg"></i> <a class="contact-link" href="https://www.github.com/aerovolts" target="_blank">aerovolts</a></li>
        <li><i class="fa fa-globe fa-fw fa-lg"></i> <a class="contact-link" href="http://guelcher.co" target="_blank">guelcher.co</a>, <a class="contact-link" href="http://pjrg.co" target="_blank">pjrg.co</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% include "_footer.html" %}{% endblock %}
