{% extends "_base.html" %}

{% block head %}{% include '_head.html' %}{% endblock %}

{% block nav %}{% include '_nav.html' %}{% endblock %}

{% block content %}
<section class="section__center mdl-grid mdl-grid__no-spacing">

  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Bienvenue!</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Hello! My name is Patrick Guelcher, and welcome to my little slice of the internet.</p>
      <p>
        I am a university student from the United States pursuing my passion for geography at the best school in the country: Virginia Tech.
        Maps are amazing little time capsules that portray a moment in human history, and I've loved looking at them since I can remember.
        Researching the history they show is truly fascinating. Now I want to combine that passion with the power of modern GIS to solve
        whatever problem needs solving.
      </p>
      <p>Check out the other pages on the site and learn more <a href="/about">about me</a> and my background or take a look at some of my
        GIS and cartographic work in my <a href="/portfolio">portfolio</a>.
    </div>
  </div>

</section>
{% endblock %}

{% block footer %}{% include '_footer.html' %}{% endblock %}
