<script>
jQuery(function($) {
  var path = window.location.href;
  $('#nav a').each(function() {
    if (this.href === path) {
      $(this).addClass('is-active');
    }
  });
});
</script>

<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout__header-row portfolio-logo-row">
    <span class="mdl-layout__title">
      <span class="mdl-layout__title"><h2><a style="text-decoration:none; color:#FFFFFF;" href="/">Patrick Guelcher</a></h2></span>
      <hr style="width: 60%; margin: auto;">
      <h6 style="font-style: italic;">Geographer • Hokie • Vexillophile • General Geek</h6>
    </span>
  </div>
  <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
    <nav id="nav" class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/about">About</a>
      <!-- <a class="mdl-navigation__link" href="/blog">Blog</a> -->
      <a class="mdl-navigation__link" href="/portfolio">Portfolio</a>
      <a class="mdl-navigation__link" href="/contact">Contact</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav id="nav" class="nav mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    <!-- <a class="mdl-navigation__link" href="/blog">Blog</a> -->
    <a class="mdl-navigation__link" href="/portfolio">Portfolio</a>
    <a class="mdl-navigation__link" href="/contact">Contact</a>
  </nav>
</div>
