<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a style="text-decoration:none; color:#FFFFFF; font-weight:400;" href="/">Patrick Guelcher</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/about">About Me</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Navigation</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/about">About Me</a>
    <a class="mdl-navigation__link" href="http://www.flickr.com/patrickguelcher">Photography <i class="fa fa-external-link"></i></a>
    <a class="mdl-navigation__link" href="http://read.pjrg.co">Reading List <i class="fa fa-external-link"></i></a>
  </nav>
</div>
